---
title: Fight Club Monkey
---

<!-- Intro -->
<section id="intro" class="main style1 dark fullscreen">
  <div class="content container small">
    <header>
      <h2>For Teh Mon'keh</h2>
    </header>
    <p>Welcome to <strong>Fight Club Monkey</strong>, the home for gamers that don't take themselves too seriously.</p>
    <footer>
      <a href="#one" class="button style2 down">More</a>
    </footer>
  </div>
</section>

<!-- One -->
<section id="one" class="main style2 right fullscreen">
  <div class="content box style2">
    <header>
      <h2>Mission Statement</h2>
    </header>
    <blockquote>Fight Club Monkey is a gaming clan that focuses more on having fun than winning the game.</blockquote>
    <p>Although we call ourselves a clan, we are more of a gaming social club, a group of friends that play games
      together.</p>

    <h3>What do you mean by gaming social club?</h3>

    <p>We feel that term describes us better than the word clan because of the activities we engage in. While most other
      clans exist purely for the game they play, we exist so that we can meet new people and enjoy ourselves while
      interacting with each another. While some of this interaction is within a game environment, it extends much
      further than this to include instant messaging, voice communications and chats in our Facebook group.</p>

    <p>This extends to when we are playing as well. Even when playing competitive games, we mind so much about winning
      or loosing (although winning is a great, but rare, treat), but rather about having a good time while we do it. We
      encourage people to chat while they play, ether using the game’s text chat support features, or using voice
      communications software (such as our TeamSpeak server). We often don’t like it when people stay silent.</p>

    <h3>Ethics</h3>

    <p>We have three main ethics that we use as a basis for our clan. Each of which is represented by one of the three
      triangles of the triforce on our shield:</p>
    <ul>
      <li>Respect for yourself and others.</li>
      <li>Friendship within the group and beyond.</li>
      <li>Enjoyment (it’s the reason we play the game in the first place).</li>
    </ul>
    <p>We expect all our members to understand and respect our ethics, and to follow them at all times.</p>
  </div>
  <a href="#two" class="button style2 down anchored">Next</a>
</section>

<!-- Two -->
<section id="two" class="main style2 left fullscreen">
  <div class="content box style2">
    <header>
      <h2>Our History</h2>
    </header>
    <p>Back in early 2002, a friend (Nichol) and I (Daniel) were keen multiplayer gaming fans, we had just got broadband
      connections and were eager to find out what online gaming was like. After a while we found a decent game to play
      (Urban Terror, a mod for Quake 3 Arena) and started to learn it… while we were never great players, we could aim a
      gun and shoot people without problem, so we decided to take the next step and join a clan.</p>

    <p>We both joined different clans to see what they were like, the plan was for one of us to leave the worse of the
      two clans and join the better one of the two. I don’t know if this was just bad luck, or maybe fate, but both of
      the clans we joined were terrible.</p>

    <p>In one of the clans, the leaders were all about becoming uber-pro players, and winning – whatever the cost. If
      you
      missed a kill, rather than a “never mind, you’ll do better next time” message, all you would get was an insult,
      and an order to do better. The other clan was just as bad with lots of people cheating and generally being very
      nasty and difficult, both to the teams they played against, as well as each other.</p>

    <p>We decided that enough was enough, and together planed to form our own clan, a clan that would be different to
      the
      rest, a clan that would do things right, a clan that would follow our ethics and ensure that everyone had a good
      time while playing.</p>

    <h3>Where did the name come from?</h3>

    <p>The name <em>Fight Club Monkey</em> came from a brainstorming session between Nichol and I. Although I can't
      remember any of the other names we came up with, I do know the final choice was inspired both by the film Fight
      Club, and the
      <a href="http://www.youtube.com/watch?v=xyoGDAjd0eA">ITV digital adverts featuring Johnny Vegas and his
        pet/sidekick monkey &#8211; Monkeh</a>.</p>
  </div>
  <a href="#three" class="button style2 down anchored">Next</a>
</section>

<!-- Three -->
<section id="three" class="main style2 right fullscreen">
  <div class="content box style2">
    <header>
      <h2>Past Games</h2>
    </header>
    <p>Lorem ipsum dolor sit amet et sapien sed elementum egestas dolore condimentum.
      Fusce blandit ultrices sapien, in accumsan orci rhoncus eu. Sed sodales venenatis arcu,
      id varius justo euismod in. Curabitur egestas consectetur magna urna.</p>
  </div>
  <a href="#four" class="button style2 down anchored">Next</a>
</section>

<!-- Four -->
<section id="four" class="main style2 left fullscreen">
  <div class="content box style2">
    <header>
      <h2>Currently Playing</h2>
    </header>
    <p>Lorem ipsum dolor sit amet et sapien sed elementum egestas dolore condimentum.
      Fusce blandit ultrices sapien, in accumsan orci rhoncus eu. Sed sodales venenatis arcu,
      id varius justo euismod in. Curabitur egestas consectetur magna urna.</p>
  </div>
  <a href="#work" class="button style2 down anchored">Next</a>
</section>

<!-- Work -->
<section id="work" class="main style3 primary">
  <div class="content container">
    <header>
      <h2>My Work</h2>

      <p>Lorem ipsum dolor sit amet et sapien sed elementum egestas dolore condimentum.
        Fusce blandit ultrices sapien, in accumsan orci rhoncus eu. Sed sodales venenatis
        arcu, id varius justo euismod in. Curabitur egestas consectetur magna vitae urna.</p>
    </header>

    <!--
       Lightbox Gallery

       Powered by poptrox. Full docs here: https://github.com/n33/jquery.poptrox
    -->
    <div class="container small gallery">
      <div class="row flush images">
        <div class="6u">
          <a href="images/fulls/01.jpg" class="image full l"><img src="images/thumbs/01.jpg" title="The Anonymous Red" alt=""/></a>
        </div>
        <div class="6u">
          <a href="images/fulls/02.jpg" class="image full r"><img src="images/thumbs/02.jpg" title="Airchitecture II" alt=""/></a>
        </div>
      </div>
      <div class="row flush images">
        <div class="6u">
          <a href="images/fulls/03.jpg" class="image full l"><img src="images/thumbs/03.jpg" title="Air Lounge" alt=""/></a>
        </div>
        <div class="6u">
          <a href="images/fulls/04.jpg" class="image full r"><img src="images/thumbs/04.jpg" title="Carry on" alt=""/></a>
        </div>
      </div>
      <div class="row flush images">
        <div class="6u">
          <a href="images/fulls/05.jpg" class="image full l"><img src="images/thumbs/05.jpg" title="The sparkling shell" alt=""/></a>
        </div>
        <div class="6u">
          <a href="images/fulls/06.jpg" class="image full r"><img src="images/thumbs/06.jpg" title="Bent IX" alt=""/></a>
        </div>
      </div>
    </div>

  </div>
</section>

<!-- Contact -->
<section id="contact" class="main style3 secondary">
  <div class="content container">
    <header>
      <h2>Say Hello.</h2>

      <p>Lorem ipsum dolor sit amet et sapien sed elementum egestas dolore condimentum.</p>
    </header>
    <div class="box container small">

      <!--
         Contact Form

         To get this working, place a script on your server to receive the form data, then
         point the "action" attribute to it (eg. action="http://mydomain.tld/mail.php").
         More on how it all works here: http://www.1stwebdesigner.com/tutorials/custom-php-contact-forms/
      -->
      <form method="post" action="#">
        <div class="row half">
          <div class="6u"><input type="text" name="name" placeholder="Name"/></div>
          <div class="6u"><input type="text" name="email" placeholder="Email"/></div>
        </div>
        <div class="row half">
          <div class="12u"><textarea name="message" placeholder="Message" rows="6"></textarea></div>
        </div>
        <div class="row">
          <div class="12u">
            <ul class="actions">
              <li><input type="submit" class="button" value="Send Message"/></li>
            </ul>
          </div>
        </div>
      </form>

    </div>
  </div>
</section>